body{
    background-color:#FB6B6B;
}
.content {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    top:0;
    left:0;
    width: 100%;
    position: absolute;
    padding-bottom: 171px;
    box-sizing: border-box;
}
*{
    font-family: 'Recursive', sans-serif;
}
h1{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 36px;
}
.logotipo{
    display:flex;
    align-items: center;
    margin:30px,auto
}
    .logotipo img{
        width:52px ;
        height:60px;
    }
