img,h1,button{
    display:block;
    margin: 10px;
    overflow: hidden;
}
button{
    width:246px;
    height:54px;
    border-radius: 5px;
    border-style: solid;
    border-width:1px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color:#D70900;
}
div.landing{
    justify-content:center ;
}
input{
    width: 246px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
}
select{
    width: 246px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
}
